body{
    margin: 0px; 
    padding: 0px;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}
.saurav-img{
    width: 200px; 
    height: 200px; 
    
}

h1 {
    /* These things are done to remove the margin from the first div */
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    /* we are just overwriting the defaults of css  */
    width: 50%; 
    /*when we give width then the eleemt is centered within the 
    width becUSE WE HAVE used the text-align center but if we want it
    in the center of the wntire wenpage then we'll have to give 
    margin auto*/
    margin: auto;

}
.middle-container{
    text-align: center;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    
}
.h11{
    padding-top: 100px;
    font-family: 'Sacramento', cursive;
    font-size: 90px;
    font-size: 7rem;
    
}
h2{
    font-family: 'Montserrat', sans-serif;
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(101, 128, 216);
}

.container{
    background-color: rgb(72, 192, 152);
    color: rgb(17, 78, 78);
    margin-top: 0px;
}

.c1{
    position: absolute;
    right: 400px;
    top: 100px;
}
.c2{
    position: absolute;
    left: 250px;
}
.bottom-container{
    background-color: rgb(179, 207, 223);
    color: rgb(17, 78, 78);
    padding:30px;
    
}
.footer-link{
    text-decoration: none;
    padding: 10px;
    color: rgb(19, 18, 14);
}
.calc{
    text-decoration: none;
    
    color: rgb(20, 177, 98);
}
a:hover{
    color: rgb(37, 28, 46);
}
.contact-me{
    padding: 30px;
}
.btn{
    text-decoration: none;
    background-color: rgb(72, 192, 152);
    padding:10px;
    border-radius: 4px;
    color: cornsilk;
}

hr{
    width: 5%;
    border: dotted #EAF6F6 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    size: 100px;
}
.copyright{
    font-size: smaller;
}

/* navbar */

.chat{
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: rgb(158, 233, 88);
    width: 300px;
    height: 35px;
    padding: 10px;
    border-radius: 20px;
    
}
span{
    padding: 20px;
    margin-top: 20px;
    color: rgb(32, 54, 54);
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    
}
.navBar{
    position: sticky;
    top: 0px;
}
.navBar span a{
    padding: 3px;
    text-decoration: none;
    color: rgb(21, 32, 32);
}
.navBar span a:hover{
    
    color: rgb(214, 228, 226);
}

/* responsive */
@media  (max-width: 500px) {
    span{
        padding: 5px;
        margin-top: 5px;
        color: rgb(32, 54, 54);
        font-family: 'Merriweather Sans', sans-serif;
        font-family: 'Open Sans', sans-serif;
        
    }
    
    .navBar span a{
        padding: 3px;
        text-decoration: none;
        color: rgb(21, 32, 32);
    }
    .navBar span a:hover{
        
        color: rgb(214, 228, 226);
    }
}
